$v-border-radius: 2px;

$v-layout-margin-right: 15px;
$v-layout-margin-left: 15px;
$v-layout-margin-top: 20px;
$v-layout-margin-bottom: 10px;

$v-app-background-color: #ffffff;
$v-focus-color: #50a2f5;

/* Import the Valo theme. */
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../valo/valo.scss";


/* This contains all of your theme. */
/* If somebody wants to extend the theme she will include this mixin. */
@mixin mytheme {
  /* Include all the styles from the liferay theme */
  @include valo;
  
  /* Insert your own styles here */

  .v-textfield {
    /* Override nasty strong Liferay selectors, border-box vs. non-borderbox collision */
    height: 37px !important;
    font-size: $v-font-size !important;
    border: 1px solid #c9c9c9 !important;
    &:focus {
      border-color: #50a2f5 !important;
    }
  }
  
  .v-table {
    background: none;
  }

  /* Make the table row stripe a bit lighter */
  .v-table-row-odd {
    background-color: #fbfbfb;
  }
  
  /* Remove header gradient */
  .v-table-header-wrap {
    background-color: transparent;
    background-image: none;
  }
  
  /* Make rows a bit higher*/
  .v-table-cell-content {
    height: 51px;
  }
  
  /* Align button left edges with column text */
  .v-table-cell-wrapper > .v-widget {
    margin: 0;
  }

  /* Remove column resize lines */
  .v-table-caption-container {
    border: none;
    font-weight: bold;
  }
  
   /* Hide right-most column resize line */
  .v-table-header table {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
